h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: blue;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #ef9fad;
}

body{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: Arial;
}

.balloon{
	width: 100px;
	height: 200px;
	top: 100vh;
	position: absolute;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.plane{
    position: absolute;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
}

.balloon-red{
	background-image: url(../images/balloon-red.png);
}
.balloon-yellow{
	background-image: url(../images/balloon-yellow.png);
}
.balloon-blue{
	background-image: url(../images/balloon-blue.png);
}
.balloon-violet{
	background-image: url(../images/balloon-violet.png);
}
.balloon-green{
	background-image: url(../images/balloon-green.png);
}

.plane-blue{
	background-image: url(../images/plane.png);
}

.total-shadow{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	/*display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	position: relative;
}

.total-block{
	background: #fff;
	padding: 10px 100px 40px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.lose{
	display: none;
}
.win{
	display: none;
}

.score-block{
	background: #efefef;
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
}
.start-game-window {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}












